@font-face {
  font-family: "Inter Medium";
  src: url("/data/fonts/Inter Medium/Inter Medium.ttf");
}

body {
  margin: 0;
}

.maplibregl-ctrl-attrib.maplibregl-compact,
.maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-button,
.maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-button {
  background-color: #ffffff;
  border-radius: 0;
}
